server:
  port: 8091

spring:
  application:
    name: quotes-service

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: false
    hostname: localhost

  kafka:
    producer:
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    properties:
      spring.json.add.type.headers: false

quotes:
  ticks:
    topic: quotes.ticks
  symbols: [AAPL, MSFT, NVDA]
  emit-interval-ms: 2000   # publish every 2 seconds



  config:
    import: "optional:configserver:http://localhost:8888"

alphavantage:
  apikey: VBMC8IRO31QQLMZD
