server:
  port: 8096

spring:
  application:
    name: user-service

  h2:
    console:
      enabled: true
      path: /h2-console



  datasource:
    url: jdbc:h2:mem:users
    driver-class-name: org.h2.Driver
    username: sa
    password: password

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    transport:
      client: apache
    service-url:
      defaultZone: http://localhost:8761/eureka/

jwt:
  secret: 2c1dXSuXoU0H4nQ9vN7gK2dZ9wL8fY6pJ1rV2bT6oP8=

  expiration: 86400000   # 1 day



